<div class="min-h-screen bg-blue-800 p-8">
  <div class="relative mx-auto h-56 w-80 rounded-xl bg-white shadow-xl">
    <!-- Position the square on the top-right of the card,
    with a negative offset (top + right) of `0.5rem`. -->
    <div class="absolute -top-2 -right-2 h-32 w-32 bg-amber-300"></div>
  </div>
</div>
