<div class="min-h-screen bg-blue-800 p-8">
  <div class="relative mx-auto h-56 w-80 rounded-xl bg-white shadow-xl">
    <div class="absolute -top-2 -right-2 h-32 w-32 bg-amber-100">
      <!-- Create an <a> element for the actual ribbon banner. 
        Give it a background of `amber-300`, and change 
        the container background to `amber-100`. 
        The text can be... anything! -->
      <a href="#!" class="block bg-amber-300">My cool ribbon</a>
    </div>
  </div>
</div>
