<div class="min-h-screen bg-blue-800 p-8">
  <div class="relative mx-auto h-56 w-80 rounded-xl bg-white shadow-xl">
    <div class="absolute -top-2 -right-2 h-32 w-32 bg-amber-100">
      <!-- 
        1. Give the <a> tag a width of `w-40`,
        2. Rotate the banner, and try align the `bottom-right` edges 
        of both the container and the banner.
      -->
      <a href="#" class="absolute bottom-0 right-0 block w-40 origin-bottom-right rotate-45 bg-amber-300">
        My cool ribbon</a
      >
    </div>
  </div>
</div>
