<div class="min-h-screen bg-blue-800 p-8">
  <div class="relative mx-auto h-56 w-80 rounded-xl bg-white shadow-xl">
    <div class="absolute -top-2 -right-2 aspect-square w-36">
      <!-- Add some styles to the ribbon banner. No guidelines here, 
      make it look like you want! -->
      <a
        href="#"
        class="absolute bottom-0 right-0 block w-square-diagonal origin-bottom-right rotate-45 bg-amber-300 py-1.5 text-center text-xs font-semibold uppercase tracking-wider text-amber-800 shadow-sm"
      >
        My cool ribbon
      </a>
    </div>
  </div>
</div>
