<div class="min-h-screen bg-blue-800 p-8">
  <div class="relative mx-auto h-56 w-80 rounded-xl bg-white shadow-xl">
    <!-- Create additional ribbon components. Make one for the top-left corner, 
    and one for the bottom-left corner. -->

    <!-- Top right -->
    <div class="absolute -top-2 -right-2 aspect-square w-36 overflow-hidden rounded-sm">
      <div class="absolute top-0 left-0 h-2 w-2 bg-amber-500"></div>
      <div class="absolute bottom-0 right-0 h-2 w-2 bg-amber-500"></div>
      <a
        href="#"
        class="absolute bottom-0 right-0 block w-square-diagonal origin-bottom-right rotate-45 bg-amber-300 py-1.5 text-center text-xs font-semibold uppercase tracking-wider text-amber-800 shadow-sm transition-all hover:bg-yellow-300"
      >
        My cool ribbon
      </a>
    </div>

    <!-- Top left -->
    <div class="absolute -top-2 -left-2 aspect-square w-24 overflow-hidden rounded-sm">
      <div class="absolute top-0 right-0 h-2 w-2 bg-green-500"></div>
      <div class="absolute bottom-0 left-0 h-2 w-2 bg-green-500"></div>
      <a
        href="#"
        class="absolute bottom-0 left-0 block w-square-diagonal origin-bottom-left -rotate-45 bg-green-300 py-1.5 text-center text-xs font-semibold uppercase tracking-wider text-green-800 shadow-sm transition-all hover:bg-emerald-300"
      >
        Top left
      </a>
    </div>

    <!-- Bottom left -->
    <div class="absolute -bottom-2 -left-2 aspect-square w-28 overflow-hidden rounded-sm">
      <div class="absolute top-0 left-0 h-2 w-2 bg-purple-500"></div>
      <div class="absolute bottom-0 right-0 h-2 w-2 bg-purple-500"></div>
      <a
        href="#"
        class="absolute block w-square-diagonal top-0 left-0 origin-top-left rotate-45 bg-purple-300 py-1.5 text-center text-xs font-semibold uppercase tracking-wider text-purple-800 shadow-sm transition-all hover:bg-violet-300"
      >
        Bottom left
      </a>
    </div>
  </div>
</div>
